/* Add GG Ampion Font */

@font-face {
    font-family: ggampion;
    src: url(https://phuwatthepro.github.io/montetesting/gg_ampion-v1.ttf);
}

body {
    font-family: ggampion;
    font-size: 120%;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}
